<app-header></app-header>
<div class="container text-center mt-5">
    <div class="row align-items-start">
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 24rem;">
            <img src="../../../assets/pictures/empleados.jpg" class="card-img-top" alt="Empleados">
            <div class="card-body">
            <h5 class="card-title">Añade un nuevo Empleado</h5>
            <p class="card-text">Agrega todo su contenido para que se asigne en la plataforma de empleados.</p>
            <button type="button" class="btn btn-success" (click)="nuevoEmpleado()">Nuevo Empleado</button>
            </div>
        </div> 
    </div>
    <div class="col">
        <h2 class="mb-5 text-light">Lista de Empleados</h2>
        <table class="table table-hover table-borderless">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Cedula</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let empleado of empleados" (click)="editarEmpleado(empleado.id)">
                <th scope="row">{{ empleado.id }}</th>
                <td>{{ empleado.cedula }}</td>
                <td>{{ empleado.nombres_Emp }}</td>
                <td>{{ empleado.apellidos_Emp }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
<app-footer></app-footer>
